

body {

    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    font-family: "Bebas Neue", serif;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
}

canvas {

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#particles-js {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -1000;
    width: 100%;
    height: 100%;
    background-color: #12142d;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}


#landing {
    background-image: url("../images/Space.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#header {
    color: #f7f7f7;
    margin: 0;
    top: 0;
    z-index: 1000;
    width: auto;
    height: auto;
    overflow: auto;
}

#headerName {
    font-family: "Bebas Neue", serif;
    top: 3vh;
    left: 5vw;
    position: absolute;
    font-size: 2rem;
    z-index: 10000;
}


#lowerMenu {
    height: 10vh;
    position: relative;
    z-index: 1000;
    list-style-type: none;
    float: right;
    right: 6vw;
    top: 5vh;
    bottom: 2vh;
}

#lowerMenu ul {
    margin: 0;
}

#lowerMenu a {
    font-size: 2rem;
    color: #838383;

    text-decoration: none;
}

#lowerMenu a:hover {
    color: #9d9d9d;
}

#lowerMenu li {
    display: inline;
    margin-left: 3vw;
}

#centralText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#downArrow{
    top: 80%;
    position: absolute;
    color: #f7f7f7;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@media screen and (max-width: 950px){
    #downArrow {
        top: 50vh;
    }
}

#downArrow a {
    color: #9d9d9d;
    text-decoration: none;
}

#downArrow a:hover {
    color: #f7f7f7;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

#iAm {
    color: #f7f7f7;
    width: 100vw;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#restText {
    font-family: "Space Mono", serif;
    transition: all 0.5s;
    width: max-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20vh;
    height: auto;
    font-size: 1rem;
}


.rotating-thing {
    color: #f7f7f7;
    width: 100%;
    opacity: 0;
    transform: translateY(-4vh);
    transition: all 0.5s;
    perspective: 500px;
    margin-top: -2vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}


.rotating-thing.show {
    opacity: 1;
    transform: translateY(0);
}

.rotating-thing.hide {
    opacity: 0;
    transform: translateY(4vh);
}

#subText {
    font-family: "Space Mono", serif;
    margin-top: 15vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#contact {
    padding: 0.445vh 0.737vw 0.445vh 0.737vw;
    font-family: "Space Mono", serif;
    text-decoration: none;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    border-radius: 5vh;
    color: #f7f7f7;
    border-style: solid;
    border-width: 0.14vh;
    width: 10rem;
    height: 5vh;
    font-size: 1rem;

}

#contact:hover {
    font-family: "Space Mono", serif;
    background-color: #f7f7f7;
    color: #12142d;
}


#aboutMe {
    position: relative;
    height: 100vh;
    font-size: 0;
}



#whiteTriangle1 {
    position: absolute;
    z-index: -1;
    top: 30vh;
    width: 0;
    height: 0;
    border-top: 70vh solid transparent;
    border-right: 70vw solid #ffffff;
    right: 0;

}


#whiteTriangle2 {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;

    border-bottom: 70vh solid transparent;
    border-left: 70vw solid #ffffff;
}


#helloHeader {
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    color: #12142d;
    font-size: 3.5rem;
    top: 0vh;
    left: 12vw;
}

#helloWords {
    font-weight: bold;
    font-family: "Space Mono", serif;
    position: absolute;
    color: #12142d;
    font-size: 1.125rem;
    top: 17vh;
    left: 12vw;
    width: 37%;
}

#picture {
    position: absolute;
    height: 35rem;
    width: auto;
    top: 20vh;
    right: 15vw;
    border-radius: 2vw;
    box-shadow: 1vh .5vw #9d9d9d;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

#aboutMeWords{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1.5s all ease;
}

#aboutMeWords.active{
    transform: translateY(0);
    opacity: 1;
}

#picture{
    transform: translateX(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

#picture.active{
    transform: translateY(0);
    opacity: 1;
}

.greyTriangles{
    position: absolute;
    z-index: -2;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, rgba(196,196,196,0.6) 10%, transparent 11%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}



#featuredProject {
    top: 10vh;
    position: relative;
    height: 100vh;
    font-size: 0;
}

#featuredContent{

}
#featuredHeader {
    color: black;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -80%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: max-content;
    opacity: 0;

}


#featuredHeader.active{
    transform: translate(-50%, -40%);
    transition: 1.5s all ease;
    opacity: 1;
}


#whiteSquare1 {
    position: absolute;
    z-index: -1;
    top: 0;

    height: 1vh;
    width: 100%;
    background-color:#ffffff;
}

#whiteSquare2 {
    position: absolute;
    z-index: -1;
    top: 0;

    height: 100%;
    width: 6vw;
    background-color: #ffffff;
}

#whiteSquare3 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 30vw;

    height: 100%;
    width: 70vw;
    background-color: #ffffff;
}

hr{
    clear: both;
    visibility: hidden;

}

#featuredDescription{
    position: absolute;
    left: 10vw;
    top: 14vh;
    width: 35vw;
    font-size: 1.25rem;
    text-decoration: none;

    font-weight: bold;
    font-family: "Space Mono", serif;
    color: #12142d;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

#exampleimage{
    top: 16vh;
    right: 20vw;
    position: absolute;
    height: 75vh;
    width: auto;
    border-radius: 2vw;
    box-shadow: -1vh .5vw #9d9d9d;
}

#footer{
    height: 7vh;
    background-color: #ffffff;
}

@media screen and (max-width: 1300px) {
    #featuredProject {
        margin-top: 25vh;
    }

    #picture{
        position: absolute;
        height: 35rem;
        width: auto;
        top: 25vh;
        right: 10vw;
        border-radius: 2vw;
        box-shadow: 1vh .5vw #9d9d9d;
    }
    #featuredProject {
        top: 5vh;
    }
}

@media screen and (max-width: 1200px) {
    #featuredProject {
        margin-top: 25vh;
    }
    #lowerMenu{
        top: 25vh;
    }
}

@media screen and (max-width: 1100px) {


    #featuredProject {
        margin-top: 90vh;
    }

    #aboutMeWords{
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        color: #12142d;
        font-size: 1.25rem;
        width: 200vw;
        text-align: center;
    }

    #helloHeader {
        font-weight: bold;
        font-family: 'Bebas Neue', sans-serif;
        position: absolute;
        color: #12142d;
        font-size: 3.5rem;
        left: 14vw;
        width: 37%;
    }

    #helloWords {
        font-weight: bold;
        position: absolute;
        color: #12142d;
        font-size: 1.25rem;
        top: 15vh;
        width: 37%;
    }
    #picture{
        position: absolute;
        height: 35rem;
        width: auto;
        top: 105vh;
        right: 30vw;
        border-radius: 2vw;
        box-shadow: 1vh .5vw #9d9d9d;
    }



}

@media screen and (max-width: 1000px) {
    #featuredProject {
        margin-top: 90vh;
    }
    #picture{
        position: absolute;
        height: 35rem;
        width: auto;
        top: 110vh;
        right: 27vw;
        border-radius: 2vw;
        box-shadow: 1vh .5vw #9d9d9d;
    }

    #helloWords{
        top: 17vh;
    }
}

@media screen and (max-width: 900px) {
    #featuredProject {
        top: 30vh;
    }
    #picture{
        position: absolute;
        height: 35rem;
        width: auto;
        top: 130vh;
        right: 22vw;
        border-radius: 2vw;
        box-shadow: 1vh .5vw #9d9d9d;
    }

    #helloWords{
        top: 25vh;
    }
}


@media screen and (max-width: 750px) {

    #featuredProject {
        top: 50vh;
    }
    #picture {
       top: 150vh;
        right: 20vw;
    }
    #exampleimage{
        height: 100vh;
        top: 95vh;
        right: 25vw;
    }
    #featuredDescription{
        width: 80vw;
    }

    #lowerMenu{
        top: 125vh;
    }
}

@media screen and (max-width: 650px) {
    #featuredProject{
        top: 60vh;
    }
    #exampleimage{
        right: 5vw;
    }
    #picture {
        top: 160vh;
        right: 15vw;
    }
    #exampleimage{
        top: 110vh;
        right: 15vw;
    }

    #lowerMenu{
        top: 190vh;
    }
}



@media screen and (max-width: 560px) {


    #picture{
        top: 170vh;
        right: 8vw;
    }
    #featuredProject{
        top: 75vh;
    }

    #exampleimage{
        top: 110vh;
        right: 15vw;
    }

    #lowerMenu{
        top: 190vh;
    }
}

@media screen and (max-width: 530px) {


    #picture {
        top: 180vh;
        right: 5vw;
    }

}